@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

input,
textarea {
  font-family: inherit;
}

.container {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

b {
  font-weight: 700;
}
